html {
    background-image: URL(assets/logo_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0053FF;
    color: white;
    text-align: center;
}
.logo_text {
    position: relative;
    top: 0;
    left: 25%;
    transform: translateX(-50%);
    z-index: 2;
    width: 50%;
}
img {
    margin: auto;
    display: block;
}
.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
}
.menu-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin: 6px 0;
    transition: 0.4s;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%; 
    height: 100%;
    background: #0053FF;
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
    transition: 0.3s;
}
.sidebar a:hover {
    background: #005399;
}
.sidebar.active {
    right: 0;
}
.sidebar .a {
margin-bottom: 15%;
}
.me {
    width: 50%;
    margin: auto;
}
.lang-btn {    
    position: absolute;    
    z-index: 4;    
    left: 5%; /* Behozva balra */
    top: 5%; /* Behozva felülről */
    width: 10%
}
button {
    background-color: #3498db;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    position: relative;
}

/* Hover: Darken */
button:hover {
    background-color: #2980b9;
}

/* Click effect - Toggle transform up and down */
button.clicked {
    transform: translateY(5px);
}
