html {
    background-image: URL(assets/logo_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0053FF;
    color: white;
    text-align: center;
}
.logo_text {
    position: relative;
    top: 0;
    left: 25%;
    transform: translateX(-50%);
    z-index: 2;
    width: 50%;
}
img {
    margin: auto;
    display: block;
}
.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
}
.menu-btn span {
    display: block;
    width: 30px;
    height: 3px;
    background: black;
    margin: 6px 0;
    transition: 0.4s;
}
.sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%; 
    height: 100%;
    background: #0053FF;
    padding-top: 60px;
    transition: right 0.3s ease-in-out;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 4px;
}
.sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.8);
}
.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 18px;
    transition: 0.3s;
}
.sidebar a:hover {
    background: #005399;
}
.sidebar.active {
    right: 0;
}
.sidebar .a {
margin-bottom: 15%;
}
.me {
    width: 50%;
    margin: auto;
}

button {
	position: relative;
	font: inherit;
	background-color: #f0f0f0;
	border: 0;
	color: #242424;
	border-radius: 0.5em;
	font-size: 3rem;
	padding: 0.375em 1em;
	font-weight: 600;
	text-shadow: 0 0.0625em 0 #fff;
	box-shadow: inset 0 0.0625em 0 0 #f4f4f4, 0 0.0625em 0 0 #efefef,
		0 0.125em 0 0 #ececec, 0 0.25em 0 0 #e0e0e0, 0 0.3125em 0 0 #dedede,
		0 0.375em 0 0 #dcdcdc, 0 0.425em 0 0 #cacaca, 0 0.425em 0.5em 0 #cecece;
	transition: 0.25s ease;
	pointer: cursor;
	touch-action: manipulation;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;

	&:active,
	&:hover {
		transform: translateY(0.225em);
		box-shadow: inset 0 0.03em 0 0 #f4f4f4, 0 0.03em 0 0 #efefef,
			0 0.0625em 0 0 #ececec, 0 0.125em 0 0 #e0e0e0, 0 0.125em 0 0 #dedede,
			0 0.2em 0 0 #dcdcdc, 0 0.225em 0 0 #cacaca, 0 0.225em 0.375em 0 #cecece;

		&:after {
			height: calc(100% + 0.225em);
		}
	}

	&:after {
		position: absolute;
		content: "";
		display: block;
		width: 100%;
		height: calc(100% + 0.375em);
		top: 0;
		left: 0;
		background-color: transparent;
		transition: height 0.25s ease;
	}
}
