@font-face {
  font-family: 'Minecraft';
  src: url('https://tggamesyt.dev/assets/Minecraft-Seven_v2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.slot.invisible-slot {
  background: none !important;
  border: none !important;
}

.multi-grid-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.grid-block {
  position: relative;
}

.mid-item {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0 3em 0;
  font-family: Minecraft;
  width: 100%;
}

.container-frame {
  position: relative;
  width: fit-content;
  image-rendering: pixelated;
  padding: 12px 12px 24px 12px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 4px;
  border-image-source: url('https://minecraft.wiki/images/Inventory_background.png');
  border-image-slice: 4 fill;
  border-image-width: 4px;
  border-image-repeat: stretch;
  background-clip: padding-box;
}

.inventory-title {
  color: #3F3F3F;
  font-size: 16px;
  margin: 4px 0 8px 2px;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(9, 36px);
  grid-template-rows: repeat(3, 36px);
  grid-gap: 0;
  justify-content: start;
  margin-bottom: 8px;
}

.slot {
  width: 36px;
  height: 36px;
  background: url('https://minecraft.wiki/images/GUI_slot.png') no-repeat;
  background-size: 36px 36px;
  background-position: 0 0;
  image-rendering: pixelated;
  position: relative;
}

.slot img {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
  position: absolute;
  top: 2px;
  left: 2px;
}

.slot-count {
  position: absolute;
  bottom: 1px;
  right: 3px;
  color: white;
  font-family: Minecraft, sans-serif;
  font-size: 14px;
  text-shadow: 1px 1px #3f3f3f;
  pointer-events: none;
}
